<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../stylesheet/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Memory Game</title>
</head>
<body>
    <!-- Main Game -->
    <div id="stats">
        <h3 class="label">Your Score : <span id="results"></span></h3>
        <h3 class="label">Time-Left : <span id="memory_game_timer">23s</span></h3>
    </div>
    <div id="display_memorygame">
        <div id="grid_memorygame"></div>
    </div>


<!-- The Modal -->
<div id="myModal" class="modal">
  <!-- Modal content -->
  <div class="modal-content-correct">
    <span class="close">&times;</span>
    <p>Congratulations! You Found them all!</p>
  </div>

</div>

    <script src="../JavaScript/app.js"></script>
    <script>
        const menuToggle = document.querySelector('.menuToggle');
        const nav = document.querySelector('.nav');
        menuToggle.onclick = function(){
            nav.classList.toggle('open')
        }

        const list = document.querySelectorAll(".nav_list");
            function activeLink()
            {
                list.forEach((item) =>
                item.classList.remove(('active')));
                this.classList.add('active');
            }
            list.forEach((item) =>
            item.addEventListener('click', activeLink))
    </script>
</body>
</html>